@import "reset";
@import "global";

* {
    box-sizing: border-box;
    color: black;
  }
  
  img {
    max-width: 100%;
  }

header {
  display: flex;
  justify-content: center;
  height: 40vh;
  border: 2px solid red;
}

.imageHeader {
  display: block;
  background: center no-repeat url("../assets/imgs/header-tuna.jpg");
  object-fit: contain;
  max-width: 80vw;
  max-height: 20vh;
}

.main{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  
  &__body--text{
    font-size: 150px;
  }
  &__body--radio{
    display: flex;
    justify-content: space-between;
  }
}

#lifeOption{
  margin-left: 100px;
  font-size: 60px;
}